#--------------------------------------
# Object/temporary files
#--------------------------------------
*.bak
*.old

#--------------------------------------
# Provisional files/folders
#--------------------------------------
\[*\]
\[*\].*
